.gari-container {
  border: 2px solid rgb(45, 109, 247);
  border-radius: 5%;
  padding: 20px;
  margin-left: 40px;
  gap: 20px;
  max-width: 400px;
  max-height: 450px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gari-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gari-content {
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gari-content p {
  font-size: 1.2rem;
}

.gari-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.gari-footer h2 {
  font-size: 1.3rem;
}

.icon {
  height: 60px;
}

.gari-buttons button {
  background-color: white;
  font-size: 1rem;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10%;
  border: 2px solid rgb(45, 109, 247);
}
.gari-buttons button:hover {
  cursor: pointer;
  background-color: rgb(119, 170, 243);
}

.gari-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
}
