.druzenja-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

@media (max-width: 1300px) {
  .druzenja-grid-container {
    grid-template-columns: repeat(3, 1fr); /* change to 2 columns */
  }
}

@media (max-width: 1000px) {
  .druzenja-grid-container {
    grid-template-columns: repeat(2, 1fr); /* change to 2 columns */
  }
}

@media (max-width: 650px) {
  .druzenja-grid-container {
    grid-template-columns: repeat(1, 1fr); /* change to 2 columns */
  }
}
